<div class="article montage">
    <div id="clickpoint"><a href="#"></a></div>
    <img id="topleft"       src="{{image_1}}"/><!-- expects 300px * 200px -->
    <img id="topcenter"     src="{{image_2}}"/><!-- expects 300px * 200px -->
    <img id="topright"      src="{{image_3}}"/><!-- expects 300px * 200px -->
    <div id="bottomleft">
        <h1>{{title}}</h1>
        <p class="content">{{content}}</p>
    </div>
    <img id="bottom"  src="{{image_4}}"/><!-- expects 750px * 200px -->
</div>
