<div class="article montage">
    <div id="clickpoint"><a href=#></a></div>
    <h1>{{title}}</h1>
    <img id="topleft"       src="{{image_1}}"/><!-- expects 300px * 200px -->
    <img id="topcenter"     src="{{image_2}}"/><!-- expects 300px * 200px -->
    <img id="topright"      src="{{image_3}}"/><!-- expects 300px * 200px -->
    <img id="bottomleft"    src="{{image_4}}"/><!-- expects 300px * 200px -->
    <img id="bottomcenter"  src="{{image_5}}"/><!-- expects 300px * 200px -->
    <img id="bottomright"   src="{{image_6}}"/><!-- expects 300px * 200px -->
</div>
